In [1]:
import pandas as pd

In [2]:
path = "/Users/hs/Desktop/python_workspaces/sandbox/WiskerveryStudy/"

In [15]:
df = pd.read_excel(path + 'text_excel.xlsx', engine='openpyxl', sheet_name='Sheet1')

In [12]:
df.head(100)

   NO                       NAME   PRICE
0   1  Balvenie double wood 12 Y  147900
1   2           Glaenfiddich 15Y  168000
2   3             Wild Turkey 8Y   72000
3   4                   Jim Beam   40000
4   5               Maker's Mark   79000